@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-page-header{
    display: flex;
    justify-content: space-between;
}
.main-page-header ul li{
    list-style-type: none;
    color: white;
    padding: 15px;
}
.main-page-header ul li:hover{
    list-style-type: none;
    color: #ffcb00;
    padding: 15px;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid grey;
}
header button{
    background-color: #1b3058;
    border: none;
    
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.content-wrapper-admin-panel{
    width: 100%;
}
.content-wrapper-admin-panel button:hover{
    color: #ffcb00;
}
.side-bar-wrapper{
    background-color: rgb(27, 48, 88);
    width: 18%;
    height: 100vh;
    overflow:auto;
}
@media only screen and (max-width: 992px) {
    .side-bar-wrapper {
      width: 25%;
      height: 125vh;
    }
  }

.side-bar h3{
    padding: 42.5px 7px;
    border-bottom: 2px solid grey;
    color: white;
}

.side-bar-wrapper ul li:hover{
    
}
.header-logo-admin-panel{
    height: 112px;
}
.department-creation-wrapper{
    width: 600px;
    background-color: #f5eeee76;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin:  auto;
    margin-top: 80px;
}
.department-creation-wrapper h3{
    font-size: 32px;
    color: #1b3058;
    margin-bottom: 20px;
}
.department-creation-wrapper input::placeholder{
    color: grey;
}
.department-creation-wrapper input[type=radio]{
    width: 30px;
    margin-right: 5px;
}
.department-creation-wrapper label{
    margin-right: 5px;
}
.department-creation-wrapper  select{ 
   border: none;
   margin: 5px 0px;
   border-radius: 5px;
   padding-left: 5px;
   height: 30px;
   color:grey;
   font-weight: 400;
}
.department-creation-wrapper button{
    height: 40px;
    
    padding: 0px;
    margin-top: 7px;
    background-color: #1b3058;
    color: white;
    border: none;
    border-radius: 5px;
}
.department-creation-wrapper  input {
   width: 100%;
   border: none;
   margin: 10px 0px;
   border-radius: 5px;
   padding-left: 5px;
   height: 30px;
   color: black;
   font-weight: 400;
}
 input,select{
    border: 1px solid #1b3058;
    height: 30px;
    color: black;
    border-radius: 5px;
}

 input{
    padding-left: 3px;
}
.user-verification span{
    font-size: 18px;
    margin-right: 3px;
}
button{
    width: 200px;
    padding: 12px 7px;
    border-radius: 5px;
    
    background-color: #1b3058;
    color: white;
    border: none;
    cursor: pointer;
}
 .filter-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgb(229, 231, 235);
}
 table,tr,td,th{
    border-collapse: collapse;
    height: fit-content;
}
table{
    width: 95%;
    border-color: #fff;
    height: auto;
    overflow-y: auto;
    border-bottom: 1px solid #1b3058;
}
 td,th ,td{
    padding: 5px;
    text-align: left;
    
}
th {
    background-color: #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
 .user-details-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    
}

.department-view-btn-wrapper button{
    background-color: #1b3058;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
    cursor: pointer;
    margin: 0px 5px;
}
.filter-wrapper-department{
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgb(229, 231, 235);
}
.filter-wrapper-department input{
    padding: 0px 10px;
}
.filter-wrapper-department button{
    padding: 10px 15px;
}
.filter-wrapper-department select{
    border: 1px solid black;
}

.filter-btn{
    text-align: right;
    width: 100%;
    margin-top: 30px;
}
.filter-btn button{
    margin-right: 30px;
    padding: 10px 15px;
}

.login-wrapper{
    width: 600px;
    background-color: #f5eeee76;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin:  auto;
    margin-top: 80px;
}
.login-wrapper h3{
    font-size: 32px;
    margin-bottom: 20px;
}
.login-wrapper input{
    margin: 5px 0px;
    border: none;
    padding-left: 5px;
}
.login-wrapper select{
    margin: 5px 0px;
    margin-bottom: 10px;
    border: none;
    padding-left: 5px;
}
.login-wrapper button{
    border: none;
    width: 100%;
    margin-top: 10px;
    padding: 7px;
}
.department-creation-wrapper-category{
    width: 400px;
    background-color: #f5eeee76;
    border: 1px solid rgb(229, 231, 235);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 80px;
    height: fit-content;
}
.department-creation-wrapper-category input{
    border: none;
    height: 30px;
    color: black;
    border-radius: 5px;   
    margin: 10px 0px;
}
.department-creation-wrapper-category button{
    margin-top: 3px;
}
.course-creation-wrapper{
    width: 800px;
    background-color: #f5eeee76;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin:60px auto;
    height: fit-content; 
}
.course-creation-wrapper h3{
    margin-bottom: 20px;
}
.course-creation-wrapper input,select{
    border: none;
    height: 30px;
    width: auto;
    color: black;
    border-radius: 5px;   
    margin: 10px 0px;
}

.department-creation-wrapper-position{
    width: 500px;
    background-color: #f5eeee76;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 80px;
    height: fit-content;
}
.department-creation-wrapper-position input,select{
    border: none;
    height: 30px;
    width: auto;
    color: black;
    border-radius: 5px;   
    margin: 10px 0px;
}

.course-creation-wrapper button{
    width: 50%;
    margin: 20px auto 0;
}
.faculty-member-creation-wrapper{
    width: 800px;
    background-color: #f5eeee76;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin:  auto;
    margin-top: 80px;
    margin-bottom: 5rem;
}
.faculty-member-creation-wrapper input,select{
    border: none;
    height: 30px;
    color: black;
    border-radius: 5px;
    width:auto;   
    margin: 10px 0px;
}
.faculty-member-creation-wrapper button:hover{
    color: #ffcb00;
}
.grid-container{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.grid2-container{
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.toggle_btn{
    width:200px;
}
.toggle_btn:hover{
    color: #ffcb00;
}
#SearchInput:hover{
    border-bottom: 2px solid #ffcb00;
}
#SearchInput {
  border: none;
  outline: none;
  width: 95%;
  font-size: 16px;
  margin-top: 30px;
  margin-left: 2.6%;
  margin-bottom: 10px;
}
#SearchInput:focus {
  border-bottom: 2px solid #4575b6;
}


::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 10px;
}
